  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  
  header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #6200ea;
    color: white;
  }
  
  header h1 {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .content {
    padding: 10px;
    flex-grow: 1;
  }
  
  textarea {
    width: 95%;
    min-height: 200px;
    max-height: 400px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button .material-icons {
    margin-right: 5px;
  }
  
  #result {
    margin-top: 10px;
  }
  
  #summary-output {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #char-counter {
    margin-top: 5px;
    font-size: 0.9em;
    color: #6b7280; /* Màu xám nhạt */
  }
  
  #char-counter.red {
    color: red;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'wght' 400, 'GRAD' 0, 'FILL' 0, 'opsz' 48;
    font-size: 24px;
    vertical-align: middle;
  }
  #gemini-panel {
    padding: 10px;

  }

  .loading-icon {
    font-family: "Material Symbols Outlined";
    font-size: 48px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .switch {
    margin-left: 10px;
  }
  .story-container {
    margin-top: 20px;
  }

  #button-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;    /* Center items horizontally */
    gap: 10px;              /* Add spacing between items */
    margin-top: 20px;       /* Add top margin */
  }

  #instruction-panel {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .collapsible-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
  }

  .collapsible-button:hover {
    background-color: #0056b3;
  }

  .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .collapsible-content.open {
    max-height: 500px; /* Adjust based on content size */
  }